button {
  width: 35%;
  background-color: #5a7684;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 1.5px;
  color: #03191e;
  border: none;
  box-shadow: 2px 2px 2px #EBF5EE;
}

button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

input.playlistName {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #EBF5EE;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

input.playlistName:placeholder {
  color: #EBF5EE;
}


